.card-content{
	height: 130px;
}


.marked{
	font-weight: bold;
	color:red !important;
}


.hovered{
	transform: scale(1.05);
	box-shadow: 0 0 10px rgba(200,200, 200, 1);
	transition:  .5s all;
	z-index:1000;
}	


.both{
	color:green !important;
	font-size: 16px;
	margin-top: 10px;
}